@{
    Layout = null;
}
<style>
    h1 {
        margin: 0 0 20px 0;
        font-weight: 300;
        font-size: 28px;
    }
</style>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- jQuery Validation -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<!-- jQuery Unobtrusive Validation (if needed) -->
<script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
<!-- SweetAlert2 -->
<link rel="stylesheet" href="../../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
<!-- Toastr -->
<link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../../dist/css/adminlte.min.css">
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- SweetAlert2 -->
<script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="../../plugins/toastr/toastr.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>


@using (Html.BeginForm("UpdatePasssword", "Account", FormMethod.Post, new { @class = "needs-validation",@id="onchange", novalidate = "novalidate" }))
{
    <body style="background-color:#1111">
        <div class ="d-flex justify-content-center align-items-center" style="margin-top:180px">
            <div class="container">
                <div class="row justify-content-center">
                        <div class="card">
                        <div class="card-body login-card-body">
                            <h1 class="login-box-msg">Enter New Password Here</h1>

                                <form action="#" method="post">
                                    <input type="hidden" name="email" value="@TempData["Email"]">
                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="Enter a new Password" id="password" name="password" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="password-toggle fas fa-eye-slash" toggle="password" name="password" onclick="togglePasswordVisibility('password')"></span>
                                        </div>
                                    </div>
                                    </div>
                                

                                <div class="input-group mb-3">
                                    <input type="password" class="form-control" placeholder="Confirm new Password" id="confirmpassword" name="confirmpassword" required>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="password-toggle fas fa-eye-slash" id="confirmpassword" name="confirmpassword" toggle="password" onclick="togglePasswordVisibility('confirmpassword')"></span>
                                        </div>
                                    </div>
                                </div>
                                
                                    <div>
                                        <button type="submit" class="btn btn-primary">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </body>
}

<script>

    $("#onchange").on("submit",function(){
        debugger
        let password = $("#password").val();
        let confirmpassword = $("#confirmpassword").val();
        if (password == confirmpassword) {
            $("#onchange").submit();
        }
        else { 
        alert("password doesnot match")}
    })

    function togglePasswordVisibility(inputId) {
        debugger;
        var input = document.getElementById(inputId);
        var icon = document.querySelector(`[toggle="${inputId}"]`);

        if (input.type === "password") {
            input.type = "text";
            icon.classList.remove("fa-eye-slash");
            icon.classList.add("fa-eye");
        } else {
            input.type = "password";
            icon.classList.remove("fa-eye");
            icon.classList.add("fa-eye-slash");
        }
    }

</script>

