@model AppUser
<div class="card">
    <div class="card-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    User Profile
                </div>
                <div class="col-md-6 text-right">
                    <!-- Button on the right -->
                    <button type="button" class="btn  btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                        Upload Photo
                    </button>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("UploadImage", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="file" name="file" />
                            <input type="submit" value="Upload" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>

        }
        <!-- Modal -->

    </div>
    <div class="card-body">
        <h5 class="card-title">@Model.Username</h5>
        <p class="card-text">Email: @Model.Email</p>
        <p class="card-text">Bio: @Model.PhoneNumber</p>
    </div>
</div>
